<p>Hello Angular 14!</p>

<p>I am going to try some angular coding.</p>

<div>
  <input [(ngModel)]="name" placeholder="Name" />
  <input [(ngModel)]="surname" placeholder="Surname" />
  <input [(ngModel)]="age" placeholder="Age" />
  <input [(ngModel)]="gender" placeholder="Gender" />
  <input [(ngModel)]="nationality" placeholder="Nationality" />
  <input [(ngModel)]="etnicity" placeholder="Etnicity" />
  <input [(ngModel)]="languages" placeholder="Languages" />
  <button (click)="addPerson()">Add the real queen</button>
</div>
<div class="person" *ngFor="let person of people" id="{{ person.id }}">
  <div class="name">
    <span>{{ person.name }} {{ person.surname }} ({{ person.gender }})</span>
  </div>
  <div
    class="image"
    *ngFor="let image of person.images; let i = index"
    id="{{ person.id }}+{{ i }}"
  >
    <img width="100%" src="{{ image }}" />
  </div>
  <div class="description">
    <h4>About them:</h4>
    <p>They speak: {{ person.languages }}</p>
    <p>They are a(n) {{ person.etnicity }} from {{ person.nationality }}</p>
  </div>
</div>
